---
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';
import Main from '../../components/Main.astro';
import { SLASH_BLOG } from '../../consts';

// if not visible, don't render
const all_posts = (await getCollection('blog')).filter((post) => post.data.visible);
const dated_posts = all_posts.filter((post) => post.data.pubDate);
const undated_posts = all_posts.filter((post) => !post.data.pubDate);

const posts = dated_posts.sort(
	(b, a) => (new Date(String(a.data.pubDate))).valueOf() - (new Date(String(b.data.pubDate))).valueOf()
).concat(undated_posts);

const is_posts = posts.length > 0;
---

<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="en">
	<Main page_title={SLASH_BLOG}>
		{ !is_posts && <code class="text--big-technical">NO POSTS AVAILABLE</code><br/> }
		{
			posts.map((post) => (
				<Card
					title={post.data.title}
					href={`/blog/${post.slug}/`}
					date={post.data.pubDate}
					description={post.data.description}
					link_enabled={true}
				/>
			))
		}
		<!-- <div class="input-and-button-container">
		<a href="/feed" style="display: flex; align-items: center; justify-content:center;" class="link link--monospace link--glowing text--undecorated">RSS</a>
		</div> -->
	</Main>
	
</html>
