---
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';
import Main from '../../components/Main.astro';
import { SLASH_WORK } from '../../consts';

// if not visible, don't render
const all_posts = (await getCollection('work')).filter((post) => post.data.visible);
const dated_posts = all_posts.filter((post) => post.data.pubDate);
const undated_posts = all_posts.filter((post) => !post.data.pubDate);

const posts = dated_posts.sort(
	(b, a) => (new Date(String(a.data.pubDate))).valueOf() - (new Date(String(b.data.pubDate))).valueOf()
).concat(undated_posts);

const is_posts = posts.length > 0;
---

<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="en">
	<Main page_title={SLASH_WORK}>
		{ !is_posts && <code class="text--big-technical">NO POSTS AVAILABLE</code><br/> }
		{
			posts.map((post) => (
				<Card 
					title={post.data.title} 
					href={`/work/${post.slug}/`} 
					date={post.data.pubDate}
					description={post.data.description} 
					tags_icon={post.data.tags_icon} 
					tags_text={post.data.tags_text} 
					image_source={post.data.image_source} 
					image_alt={post.data.image_alt}
					link_enabled={true}
					tags_enabled={true}
				/>	
				))
		}
	</Main>
</html>