---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Card from '../components/Card.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="page">
        <Header />
        <div class="image-banner">
        <img class="image-banner__image" src={heroImage} alt={`Banner for ${title}`} />
        </div>
        <main class="page__content">
            <Card title={title} date={pubDate} description={description} link_enabled={false} />
            <article>
                {
                    updatedDate && (
                        <div class="last-updated-on">
                            Last updated on&nbsp;<FormattedDate date={new Date(updatedDate)} />
                        </div>
                    )
                }
                <hr class="hori-line--with-margin"/>
                <slot />
            </article>
            <div class="comments">
            <script src="https://giscus.app/client.js"
                    data-repo="lumirth/comments"
                    data-repo-id="R_kgDOJxkpWA"
                    data-category="Announcements"
                    data-category-id="DIC_kwDOJxkpWM4CXWeg"
                    data-mapping="pathname"
                    data-strict="0"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="bottom"
                    data-theme="http://localhost:3000/giscus.css"
                    data-lang="en"
                    data-loading="lazy"
                    crossorigin="anonymous"
                    async>
            </script>
            </div>
        </main>
        <Footer />
    </body>
</html>
