---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Card from '../components/Card.astro';

const { title, description, pubDate, updatedDate, banner_source, image_source, image_alt, tags_icon, tags_text } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="page">
		<Header />
        <div class="image-banner">
        <img class="image-banner__image" src={banner_source} alt={`Banner for ${title}`} />
		</div>
        <main class="page__content">
            <Card 
                title={title}
                href="#"
                date={pubDate}
                description={description}
                tags_icon={tags_icon}
                tags_text={tags_text}
                image_source={image_source}
                image_alt={image_alt}
                link_enabled={false}
                tags_enabled={true}
            />

            <article>
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on&nbsp;<FormattedDate date={new Date(updatedDate)} />
						</div>
					)
				}
				<hr class="hori-line--with-margin"/>
				<slot />
			</article>
            <div class="comments">
                <script src="https://utteranc.es/client.js"
                repo="lumirth/comments"
                issue-term="pathname"
                theme="preferred-color-scheme"
                crossorigin="anonymous"
                async>
            </script>
            </div>
		</main>
		<Footer />
	</body>
</html>